@import './shared/fonts'; // import _fonts.scss

// PAGES
@import './index';

// COMPONENTS
@import './header';

html, body {
    font-family: 'Montserrat', 'Helvetica'; // you can use !important
}

.clickable {
    cursor: pointer;
}

.self-typed {
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

.absolute {
    position: absolute;
  }

.base-page {
    padding-top: 150px;
    color: white;
}
  

// .customClassFromFile {
//     color: blue;
// }

// .fromPage {
//     font-size: 50px;
// }

// html, body {
//     height:100%;
//     width:100%;
//     font-family: 'Montserrat', 'Helvetica';
//   }