@import './shared/fonts'; // import _fonts.scss

html, body {
    font-family: 'Montserrat', 'Helvetica'; // you can use !important
}

.customClassFromFile {
    color: blue;
}

.fromPage {
    font-size: 50px;
}