@import './shared/fonts'; // import _fonts.scss
@import './shared/colors'; // import _colors.scss

// PAGES
@import './index';
@import './portofolios';
@import './blogs';

// COMPONENTS
@import './header';

html, body {
    font-family: 'Montserrat', 'Helvetica'; // you can use !important
}

.clickable {
    cursor: pointer;
}

.self-typed {
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

.absolute {
    position: absolute;
  }

.base-page {
    padding: 150px 0 100px 0; // if 150px 0 : top+bottom and right+left .. if 150px 0 100px 0 : top right bottom left
    color: black;
    background-color: #ecedee;
    min-height: 100vh;
  
    .page-header {
      .page-header-title {
        font-weight: 700;
        color: black;
        display: inline-block;
        margin-bottom: 20px;
      }
    }
  }

.error {
  color: red;
  font-weight: 700;
}

// .customClassFromFile {
//     color: blue;
// }

// .fromPage {
//     font-size: 50px;
// }

// html, body {
//     height:100%;
//     width:100%;
//     font-family: 'Montserrat', 'Helvetica';
//   }